<?xml version="1.0"?>

<config>
    <modules>
	<Smarboo_Review>
	    <version>0.1.0</version>
	</Smarboo_Review>	
    </modules>

    <frontend>
	<routers>
	    <Smarboo_Review>
		<use>standard</use>
		<args>
		    <module>Smarboo_Review</module>
		    <frontName>review</frontName>
		</args>
	    </Smarboo_Review>
	</routers>
	<layout>
	    <updates>
		<Review>
		    <file>smarboo_review.xml</file>
		</Review>
	    </updates>
	</layout>
    </frontend>	
</config>
